@model IEnumerable<WatchList.Models.ModeleVueFilm>

@{
    ViewData["Title"] = "Liste des films";
}

<h1>Liste des films</h1>

<p>
    <a asp-action="Create">Ajouter un film</a>
</p>

<form asp-controller="Films" asp-action="Index">
    <p>
        Recherche filtrée: <input type="text" name="SearchString" />
       <select data-val="true" data-val-required="Indiquer le champ à filtrer." id="SelectFilter" name="SelectFilter">
            <option value="">Choisir le filtre</option>
            <option selected="selected">Titre</option>
            <option>Année</option>
            <option>Genre</option>
            <option>Producteur</option>
            <option>Acteur</option>
        </select>
        <input type="submit" value="Filtrer" />
        <a asp-action="Index"> Retour vers la liste complète des films</a>
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitreSortParm"]">@Html.DisplayNameFor(model => model.Titre)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AnneeSortParm"]">@Html.DisplayNameFor(model => model.Annee)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GenreSortParm"]">@Html.DisplayNameFor(model => model.Genre)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductSortParm"]">@Html.DisplayNameFor(model => model.Producteur)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ActSortParm"]">@Html.DisplayNameFor(model => model.Acteurs)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresentDansListe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Annee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producteur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Acteurs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PresentDansListe)
                        <button id="@item.IdFilm" data-val="@item.PresentDansListe" class="btn">
                            @(item.PresentDansListe ? " - " : " + ")
                        </button>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdFilm">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdFilm">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdFilm">Delete</a>|
                
                    </td>
                </tr>
        }
    </tbody>
</table>
@section Scripts 
{
    <script>
        jQuery(document).ready(function () {
            $('.btn').click(function (e) {
                var btn = $(this);
                var idFilm = btn.attr('id');
                var valFilm = btn.attr('data-val') == "True" ? 1 : 0;
                $.get('/Films/AjouterSupprimer?id=' + idFilm + '&val=' + valFilm,
                        function (data) 
                        {
                            if (data == 0) 
                            {
                            btn.attr('data-val', 'False');
                                btn.html(' + ');
                            }
                            else if (data == 1) 
                            {
                            btn.attr('data-val', 'True');
                                btn.html(' - ');
                            }
                        }
                 );

            });

        });

    </script>

}   

