@model IEnumerable<WatchList.Models.ModeleVueFilm>

@{
    ViewData["Title"] = "Films empruntés";
}

<h1>Films empruntés</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acteurs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentaire)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producteur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acteurs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vu)
                <button id="@item.IdFilm" data-val="@item.Vu" class="btn">
                        @(item.Vu ? " - " : " + ")
                 </button>
            </td>   
            <td>
                <form method="post" id="NoteFormId">
                        <button asp-controller="Home" asp-action="Index" type="submit" class="btn_note" id="@item.IdFilm" data-val="@item.Note" >
                            Notez
                        </button>
                        <input type="text" id="NoteInputId" class="NoteInput" onblur="Selection" value="@item.Note" size="1" alt="Note"
                               asp-controller="ListeFilms" asp-action="Index">
                </form>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts 
{
    <script>
        jQuery(document).ready(function () {
            $('.btn').click
            (function (e) 
                {
                    var btn = $(this);
                    var id= btn.attr('id');
                    var valFilm = btn.attr('data-val') == "True" ? 1 : 0;
                    $.get('/ListeFilms/AvezVousVu?id=' + id + '&val=' + valFilm,
                            function (data) 
                            {
                                if (data == 0) 
                                {
                                btn.attr('data-val', 'False');
                                    btn.html(' + ');
                                }
                                else if (data == 1) 
                                {
                                btn.attr('data-val', 'True');
                                    btn.html(' - ');
                                }
                            }
                     );

                });
            $('.btn_note').click
            (function(e) 
                {
                    var btn_note = $(this);
                    var id = btn_note.attr('id');
                    var input = document.getElementById('NoteInputId')[id - 1];
                    var val = input.value;
                    var val_1 = 3;
                    $.get('/ListeFilms/AjoutNote?id=' + id + '&val=' + val,
                        function (data) 
                        {
                            if (data != '0') 
                            {
                                $("#NoteInputId").attr('value', data);
                                $("#NoteInputId").html(data);
                            }
                        }
                    );
                }
            );
        });

    </script>
}